<div class = " container-fluid about-callout text-center">

<h1>About DevMatch</h1>
    <div class="about-content">
        <p>DevMatch is a website where aspiring entrepreneurs can link with developers
        in order to give life to their bright ideas. This website aims to create an exclusive
        community that use DevMatch as a means of communication and discussion.</p>
    </div>
</div>